@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(./../public/fonts/Poppins.ttf);
}

body {
  font-family: poppins;
}

.link:hover div{
  @apply w-full
}


nav:hover .effect1{
  @apply scale-[200] 
}

nav:hover .effect2{
  @apply scale-[100] 
}